@{
  Layout = "_Layout";
}
@using UniversityRegistrar.Models;
@model UniversityRegistrar.Models.Student

<h3>Add a course to student:</h3>
<hr />
<p class="student-info">@Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  <div class="form-group"> 
    @Html.Label("Select courses:")
    @foreach (Course course in ViewBag.CourseId)
    {
      @Html.Label(course.Name)
      @Html.CheckBox("CourseId", false, new { value = course.CourseId })
    }
  </div>
  <input type="submit" value="Add course" class="btn" />
}
<p>@Html.ActionLink("Back to students list", "Index")</p>