@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Student

<h3>Add a new student:</h3>
<hr />
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.EnrollmentDay)
    @Html.TextBoxFor(model => model.EnrollmentDay, new { @type = "date", @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.Label("Select department:")
    @Html.DropDownList("DepartmentId")
  </div>
  <div class="form-group"> 
    @Html.Label("Select courses:")
    @foreach (Course course in ViewBag.CourseId)
    {
      @Html.Label(course.Name)
      @Html.CheckBox("CourseId", false, new { value = course.CourseId })
    }
  </div>
  <input type="submit" value="Add new student" class="btn" />
}
<p>@Html.ActionLink("Back to students list", "Index")</p>
