@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department;

@*<h3>Find a course:</h3>
<hr />
@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
  <p>@Html.TextBox("searchCourse")</p>
  <button class="btn" type="submit">Search</button>
}*@

<h3>Students:</h3>
<hr />
@if(@Model.Students.Count == 0)
{
  <p>No students found.</p>
}
else
{
  <ul>
  @foreach(var student in Model.Students)
  {
    <li>@student.Name</li>
    @*@using (Html.BeginForm("DeleteStudent", "Departments"))
    {
      @Html.Hidden("studentId", @student.StudentId)
      <input type="submit" value="Delete" class="btn" />
    }*@
  }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add new student", "Create", "Students")</p>
<p>@Html.ActionLink("Show list of departments", "Index")</p>