@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h3>Add a department to a course:</h3>
<hr />
<p class="course-info">@Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  <div class="form-group"> 
    @Html.Label("Select department:")
    @Html.DropDownList("DepartmentId")
  </div>
  <input type="submit" value="Add department" class="btn" />
}
<p>@Html.ActionLink("Back to courses list", "Index")</p>